#bootstrap-override h1 {
    font-size: 3rem;
}
#bootstrap-override h2 {
    font-size: 2.5rem;
}
#bootstrap-override h3 {
    font-size: 1.5rem;
    font-weight: normal;
    font-family: var(--bs-font-serif);
}


#bootstrap-override .post-masthead {
    padding: 8rem 0 0 0; 
}